<div class="blog-bar">
    <div class="container content">
        <ul class="blog-category">
            <li><a href="blog.html">最新消息</a></li>
            <li><a href="#">特別企劃</a></li>
            <li><a href="#">新品上市</a></li>
            <li><a href="#">鏡框小知識</a></li>
        </ul>
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
</div>