<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>情人特別企劃 - 部落格 | 眼鏡官網</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css'/>
    </head>
    <body>
        <%- include('./layout/header'); -%>
        <%- include('./layout/blog-bar'); -%>
        <main class="container blog-page">
            <p class="path"><a href="index.html">首頁</a> / <a href="blog.html">部落格</a> / <a href="#">特別企劃</a> / <a href="2020-Valentine’s-Special.html" class="current">情人特別企劃</a></p>
            <p class="tag-highlight"><a href="#">#special</a><a href="#">#event</a></p>
            <div class="content">
                <article>
                    <h2>情人特別企劃</h2>
                    <h3>2020 Valentine’s Special</h3>
                    <img src="../assets/images/desktop/blogpage-1.png">
                    <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 <br>本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    <img src="../assets/images/desktop/blogpage-2.png">
                    <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 <br>本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    <img src="../assets/images/desktop/blogpage-3.png">
                    <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 <br>本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    <img src="../assets/images/desktop/blogpage-4.png">
                    <p>
                        2/14(五)-2/20(日)
                        <br>至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個
                        <br>期間優惠還有~~持他牌鏡框更換鏡片
                        <br>薄型非球面鏡片折300元
                        <br>濾藍光鏡片折500元
                        <br>快快帶上另一半
                        <br>讓彼此每一次睜開眼，都被愛的視線包圍!
                    </p>
                    <section class="share-btn">
                        <p>Share</p>
                        <a href="#"><img src="../assets/images/desktop/logo-facebook.png" alt="Facebook"></a>
                        <a href="#"><img src="../assets/images/desktop/logo-instagram.png" alt="Instagram"></a>
                    </section>
                    <section class="other-pages">
                        <a href="#" class="previous"><i class="fa-solid fa-arrow-left"></i>上一篇：街頭潮人訪問 1</a>
                        <a href="#" class="previous">下一篇：街頭潮人訪問 2<i class="fa-solid fa-arrow-right"></i></a>
                    </section>
                </article>
                <aside class="tags">
                    <h4><i class="fa-solid fa-tag"></i>TAGS</h4>
                    <ul>
                        <li><a href="#">#special</a></li>
                        <li><a href="#">#sale</a></li>
                        <li><a href="#">#new_item</a></li>
                        <li><a href="#">#interview</a></li>
                        <li><a href="#">#trivia</a></li>
                        <li><a href="#">#news</a></li>
                        <li><a href="#">#event</a></li>
                    </ul>
                </aside>
            </div>
        </main>
    
        <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
    </body>
</html>