<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>眼鏡官網</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css'/>
    </head>
    <body>
        <%- include('./layout/header'); -%>

        <main>
        <section class="banner">
            <div class="container content">
                <h3>Promise-Desert 2020 早春系列</h3>
                <h2>看得清，才能看得遠</h2>
                <a href="#">立即購買</a>
            </div>
        </section>
        <section class="feature">
            <div class="container">
                <h3>用專業的心，做專業的事</h3>
                <ul>
                    <li>
                        <img src="../assets/images/desktop/home-section2-1.png" alt="price">
                        <h4>單一價格</h4>
                        <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                    </li>
                    <li>
                        <img src="../assets/images/desktop/home-section2-2.png" alt="time">
                        <h4>20 分鐘即可取件</h4>
                        <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                    </li>
                    <li>
                        <img src="../assets/images/desktop/home-section2-3.png" alt="heart">
                        <h4>安心售後服務</h4>
                        <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                    </li>
                    <li>
                        <img src="../assets/images/desktop/home-section2-4.png" alt="lens">
                        <h4>關於鏡片</h4>
                        <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="classic">
            <div class="container">
                <h3>經典系列鏡框</h3>
                <ul>
                    <li>
                        <img src="../assets/images/desktop/home-section3-1.png" alt="OPTICAL">
                        <h4><a href="optical.html">OPTICAL</a></h4>
                    </li>
                    <li>
                        <img src="../assets/images/desktop/home-section3-2.png" alt="SUNGLASSES">
                        <h4><a href="sunglasses.html">SUNGLASSES</a></h4>
                    </li>
                    <li>
                        <img src="../assets/images/desktop/home-section3-3.png" alt="FUNCTIONAL">
                        <h4><a href="#">FUNCTIONAL</a></h4>
                    </li>
                </ul>
            </div>
        </section>
        <section class="co-branding">
            <div class="container">
                <h3>聯名設計鏡框</h3>
                <ul>
                    <li>
                        <img src="../assets/images/desktop/home-section4-1.png" alt="DOUBLE A+">
                        <h4><a href="#">DOUBLE A+</a></h4>
                    </li>
                    <li>
                        <img src="../assets/images/desktop/home-section4-2.png" alt="YOUTH">
                        <h4><a href="#">YOUTH</a></h4>
                    </li>
                </ul>
            </div>
        </section>
        <section class="customer">
            <div class="container">
                <h3>顧客推薦</h3>
                <ul>
                    <li>
                        <div>
                            <img src="../assets/images/desktop/home-section5-1.png" alt="customer-1">
                            <p class="name">Jessy</p>
                            <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                        </div>
                        <time datetime="2021-06-20">2021/06/20</time>
                    </li>
                    <li>
                        <div>
                            <img src="../assets/images/desktop/home-section5-2.png" alt="customer-2">
                            <p class="name">凱倫</p>
                            <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                        </div>
                        <time datetime="2021-04-18">2021/04/18</time>
                    </li>
                    <li>
                        <div>
                            <img src="../assets/images/desktop/home-section5-3.png" alt="customer-3">
                            <p class="name">悠悠</p>
                            <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                        </div>
                        <time datetime="2020-12-25">2020/12/25</time>
                    </li>
                    <li>
                        <div>
                            <img src="../assets/images/desktop/home-section5-4.png" alt="customer-4">
                            <p class="name">Kyuan</p>
                            <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                        </div>
                        <time datetime="2020-10-31">2020/10/31</time>
                    </li>
                </ul>
            </div>
        </section>
        <section class="contact">
            <div class="container">
                <h3>聯絡我們</h3>
                <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                <form action="index.html">
                    <label for="name">姓名</label>
                    <input type="text" name="name" id="name" placeholder="陳小明">
                    <label for="tel">聯絡電話</label>
                    <input type="tel" name="tel" id="tel" placeholder="0912-345-678">
                    <label for="email">電子郵件</label>
                    <input type="email" name="email" id="email" placeholder="example@email.com">
                    <label for="opinion">意見反應</label>
                    <textarea name="opinion" id="opinion" placeholder="請輸入您的意見"></textarea>
                    <div class="agreeToPrivacy">
                        <input type="checkbox" value="agree" id="agreeToPrivacy">
                        <label for="agreeToPrivacy">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                    </div>
                    <input type="submit" value="確認送出" class="submit">
                </form>
            </div>
        </section>
        </main>
    
        <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
    </body>
</html>
