<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OPTICAL - 系列鏡框 | 眼鏡官網</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css'/>
    </head>
    <body class="classic-page">
        <%- include('./layout/header'); -%>
        <ul class="classic-bar">
            <li><a class="active" href="optical.html">OPTICAL</a></li>
            <li><a href="sunglasses.html">SUNGLASSES</a></li>
            <li><a href="#">FUNCTIONAL</a></li>
        </ul>
        <div class="classic-banner">
            <div class="classic-banner1"></div>
            <div class="classic-banner2"></div>
        </div>
        <main class="container">
            <h2>Celluloid Combi</h2>
            <h3>賽璐珞鈦金屬混合鏡框</h3>
            <ul class="product-list-4-column">
                <li>
                    <img src="../assets/images/desktop/product-1.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-2.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-3.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-4.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-5.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-6.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-1.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-2.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-3.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-4.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-5.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/desktop/product-6.png" alt="BJ41600S">
                    <div class="glasses-detail">
                        <h4>BJ41600S</h4>
                        <p>NTD3,490</p>
                    </div>
                    <div class="color-list">
                        <div class="color choice-1st"></div>
                        <div class="color choice-2nd"></div>
                    </div>
                </li>
            </ul>
            <%- include('./layout/page-btn'); -%>
        </main>
        <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
    </body>
</html>